<div class="hero-unit">
	<h1>BlogPost</h1>
	<p>This is a sample application created on rails for testing purposes</p>
	<%= link_to "My Blog", posts_path, class: "btn btn-primary btn-large" %>
	<%= link_to "Members", members_path, class: "btn btn-primary btn-large" %>
</div>