<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Blogpost</title>
=======
  <title>FirstApp</title>
>>>>>>> 18790f54b3f56d79ec372676aebe65856eb09467
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
